<div class="row">
	<div class="large-12 columns text-center">
		<h3>
			Thank You for supporting Texas Husky Rescue and the Frisco RoughRiders.<br />
			We'll see you at the game!
		</h3>
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<p>Advance parking passes can also be purchased from Jessica (972-334-1936 or jenglish@ridersbaseball.com) with the RoughRiders for $5. Parking passes purchased the day of the game are $10.</p>
	</div>
</div>
