<div class="row">
	<div class="large-12 columns">
		<h2>
			Thank you for donating money to Texas Husky Rescue!
		</h2>
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<p>You will receive an email confirmation of your donation shortly. If you elected to receive future communications from TXHR we will add you to our electronic mailing list in the next 30 days; if at any point you would like to unsubscribe from our emails you can do so using the unsubscribe link in any of the emails we send you.</p>
		<hr />
	</div>
</div>