@Html.Partial("_Menu")
@section scripts {
	<script type="text/javascript">
		$(document).ready(function ($) {
			// Get current url
			// Select an a element that has the matching href and apply a class of 'active'. Also prepend a - to the content of the link
			var url = window.location.pathname;
			$('.golf-nav dd a[href="' + url + '"]').parent().addClass('active');
		});
	</script>
}

<div class="row">
	<div class="large-12 columns text-center">
		<h4>How Your Support Helps</h4>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		<p>
			Texas Husky Rescue, Inc, was established in May 2009 to help save homeless, abused and neglected huskies and adopt them into permanent and loving forever homes.  We are a non-profit 501(c) 3 organization run entirely by volunteers with no paid staff or shelter.  We rely on our network of foster families to give temporary homes to huskies until their permanent home is found.  We provide all necessary vetting and medical care to every Siberian that we take into our program and we are a responsible animal rescue agency in that we spay/neuter every husky prior to adoption.  We are proud to have saved over 1,000 huskies since our inception!
		</p>
		<p>
			All proceeds from the tournament directly benefit huskies in need throughout Texas and the surrounding states by allowing us to do what we do best - rescue and rehabilitate Siberians and place them in their forever homes.  So, we need you, your business and your support to help us help these beautiful animals.
		</p>
		<p>
			Below are some ways that your participation in our golf tournament helps support us.
		</p>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		<h4>The Colonel Courageous Fund</h4>
	</div>
</div>
<div class="row">
	<div class="large-3 medium-3 columns text-center">
		<img src="/Content/Images/Huskies/col.jpg" />
	</div>
	<div class="large-9 medium-9 columns">
		<p class="text-justify">In October of 2010, we were notified of a husky in need in Austin.  He had just been seized from a very neglectful and abusive home and the shelter knew he needed immediate help.  Texas Husky Rescue quickly stepped in and moved him to a loving foster home where he became known as Colonel Courageous.</p>
		<p class="text-justify">He had such a severe case of mange that it had taken over his entire body and completely depleted his immune system.  He had heartworm disease, open sores that had developed staph infection and was so severely malnourished that you could literally see every bone in his body.   Despite aggressive vetting, his body was too weak to handle all the infections and The Colonel passed away three days later.</p>
		<p class="text-justify">Because this experience had such a profound effect on all of us at Texas Husky Rescue, we started a special fund in the Colonel’s honor.  This fund is used to help rescue and rehabilitate other huskies like The Colonel that have been seized due to cruelty and neglect.</p>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		<h4>The Princess Isis Fund</h4>
	</div>
</div>
<div class="row">
	<div class="large-3 large-push-9 medium-3 medium-push-9 columns text-center">
		<img src="/Content/Images/Huskies/isis.jpg" />
	</div>
	<div class="large-9 large-pull-3 medium-9 medium-pull-3 columns">
		<p class="text-justify">Late in 2014, we launched this fund after a beloved Siberian Husky named Isis crossed the Rainbow Bridge.  Isis found herself in a Houston area shelter after being caught running the street.  Not only did she have pneumonia, broken front teeth, was emaciated and X-rays that showed pellets in her body, she had been abused.  Her precarious physical and fragile mental condition did not deter her eventual new family from adopting her though.  It took Isis six months to let her new dad touch her but her family did not give up and loved her even more as she became a loving friend. Isis was very sweet and gentle and one had to accept her love on her terms, but when she did give her love that made it all the more special.</p>
		<p class="text-justify">Isis unexpectedly lost her life last year at the young age of eight.  Although she had been a little "off", her vets were confident she'd make a full recovery.  She had been diagnosed with and was being treated for eosinophilic IBD and eosinophilic bronchitis.  Because Siberians seem to be predisposed to these types of eosinophilic inflammatory conditions, we want to bring awareness about IBD and help other sick Siberians.</p>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		<h4>Vetting & Temporary Boarding Expenses</h4>
		<ul>
			<li>$27 - one heartworm test</li>
			<li>$37 - yearly vaccinations for one dog</li>
			<li>$84 - one week of temporary boarding for one dog*</li>
			<li>$95 - one spay/neuter surgery</li>
			<li>$360 - heartworm treatment for one dog</li>
		</ul>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		<h4>Huskies with Socialization and Behavioral Issues</h4>
		<p class="text-justify">So often, we learn of huskies in shelters who were surrendered because their owner could not handle them.  The neglect takes its toll on the dogs and begins to show through in the form of behavioral issues and/or lack of socialization.  These ones are the least likely to get adopted and their only hope is rescue.  In 2014, we saved 21 Siberians with these characteristics.  Despite the fact that these dogs take a tremendous amount of our resources – multiple volunteer foster homes, substantial monetary resources, professional training and extended time in our program – we feel they deserve a chance and therefore, don’t allow these traits to discourage us from stepping up to save them.</p>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		<h4>Huskies with Medical Conditions</h4>
		<p class="text-justify">Texas Husky Rescue has always been committed to helping huskies of all shapes, sizes, gender, age, etc.  And we have never shied away from rescuing a Siberian with a medical condition.  In 2014, we saved 187 huskies – 52 of which were medical cases.</p>
		<p class="text-justify">When a community rallied together to help this five month old boy after he was bitten by another dog, we agreed to help him and quickly found out our sweet puppy Rush was in worse shape than anyone thought.  His external wounds were healing fine but he was becoming extremely lethargic and appeared to be in pain.  After being rushed to the emergency vet, it was discovered that he had a fever and his red blood cells were dangerously low.  He received a blood transfusion and a heavy dose of antibiotics to stabilize him, but he was still a very sick puppy.  With further testing, it was determined that he also had a severe tick-borne disease that was keeping him in critical condition.  After almost daily vet visits and an aggressive treatment plan, Rush finally started to turn the corner.  And two months later, he found his forever home where he is a bouncy, energetic puppy like he should be!</p>
	</div>
</div>
<div class="row">
	<div class="large-6 columns">
		<img src="/Content/Images/Huskies/rush.jpg" />
	</div>
	<div class="large-6 columns">
		<img src="/Content/Images/Huskies/lollipop.jpg" />
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<p class="text-justify">In September of last year, we rescued our 900th husky – Lollipop.  She was in a Houston shelter severely underweight and with a terrible case of mange, multiple infections and heartworm disease.  Upon arriving at the vet, it was discovered that she had pyometra – an infection in her uterus.  Even though she was in such rough shape, she had to undergo immediate surgery to correct this.  Thankfully, all went well with the surgery and she is making a good recovery.  She hasn’t been medically released at this time but that doesn’t bother her.  Lollipop has a wonderful personality and is going to make one lucky family very happy.</p>
	</div>
</div>
<div class="row">
	<div class="large-3 columns">
		<img src="/Content/Images/Huskies/Ichabod.png" />
	</div>
	<div class="large-9 columns">
		<p class="text-justify">A local shelter picked up Ichabod as a stray.  He was so weak from dehydration and malnutrition that he couldn’t walk or stand on his own.  Upon hearing of him, we immediately stepped in to save him and rushed him to Texas A&M for urgent and 24/7 care.   In just under three weeks, Ichabod has gone from not being able to stand to barely sitting still!  He has a new lease on life and is taking full advantage of it.  He still has a long road of recovery in front of him, but he should be medically released and ready for adoption in a few months.</p>
	</div>
</div>
<br/>