@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{

	<li>
		@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
		{
			@Html.AntiForgeryToken();
			@Html.ActionLink(User.Identity.GetUserName(), "Index", "AccountManager", routeValues: null, htmlAttributes: new { title = "Manage" });
		}
	</li>
	<li><a href="javascript:document.getElementById('logoutForm').submit()">sign off</a></li>
}
else
{
	<li>@Html.ActionLink("sign up", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
	<li>@Html.ActionLink("sign in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
}
