<div class="row">
	<div class="large-12 columns text-center">
		<h3>Adoption Process</h3>
	</div>
</div>
<div class="row">
	<div class="large-2 columns text-center">
		<div>
			<img src="/Content/Images/Huskies/FaceShot_10.jpg" height="250" />
		</div>
	</div>
	<div class="large-8 columns">
		<div>
			<p>
				The adoption process has several stages to ensure our huskies are going to qualified, educated, loving forever homes.
			</p>
			<p>
				All TXHR huskies are spayed or neutered, current on vaccinations, taking heartworm prevention, and are microchipped prior to adoption.
			</p>
			<p>
				Adoption fees<strong>*</strong> are $300 for adult males and females; $350 for puppies under 6 months.
				<br />
				<strong>NOTE</strong>: $100 is non-refundable if the husky is returned during the trial period.
			</p>
			<p><strong>*</strong>The fee is an extra $10 (310/360) if paying by PayPal.</p>
			<p>
				<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=RNTPPJFU4E666" target="_blank">Pay your adoption fee here </a>
			</p>
		</div>
	</div>
	<div class="large-2 columns text-center">
		<div>
			<img src="/Content/Images/Huskies/FaceShot_36.jpg" height="250" />
		</div>
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<div>
			<ul>
				<li>
					@Html.ActionLink("Apply Online", "Apply", "Adoption") or complete a <a href="/Forms/addoptionapplication.pdf">PDF adoption application</a>. The PDF application
					@Html.ActionLink("can be emailed", "Contact", "Home"), faxed to 1-877-894-8759, or mailed to PO Box 118891, Carrollton, TX 75011.
				</li>
				<li>
					Once your application is received, we will conduct a thorough screening process which includes a vet check of your current pets and a phone screen/interview
					by one of our adoption coordinators.
				</li>
				<li>
					After your vet check and phone screen are completed successfully, TXHR will conduct a fence/home check. This is a check for gaps, broken slats, holes,
					compromised spots, etc where a husky could escape. Please do a walk of the perimeter of your fence and fix all problem spots before we come to your home.
				</li>
				<li>
					Upon successful completion of the application process, a TXHR adoption counselor will set up a meet and greet with you and the husky you have applied
					for. Once you determine you would like to adopt the husky, you must sign an adoption contract and pay the adoption fee before taking possession of the
					husky.
				</li>
				<li>All adoptions start with a 5 day trial period to ensure the husky is a good fit in your home and lifestyle.</li>+
			</ul>
			<br />
			<p>
				Download the <a href="/Forms/adoption-contract.pdf">Adoption Contract</a>
			</p>
		</div>
	</div>
</div>
