<div class="row">
	<div class="large-12 columns">
		<h2>
			Thank you for applying to adopt one (or more) of our wonderful huskies!
		</h2>
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<p>You will receive a copy of your application via email shortly.</p>
		<hr/>
		<h4>What's next?</h4>
		<p>Once your application is received, we will conduct a thorough screening process which includes a vet check of your current pets.</p>
		<p>
			After you have been initially approved and your vet check is completed successfully, TXHR will conduct a fence/home check. This is a check for gaps, broken
			slats, holes, compromised spots, etc where a husky could escape from. Please do a walk of the perimeter of your fence and fix all problem spots before
			we come to your home.
		</p>
		<p>
			Upon successful completion of the application process, a TXHR adoption counselor will set up a meet and greet with you and the husky you have applied
			for. Once you determine you would like to adopt the husky, you must sign an adoption contract and pay the adoption fee before taking possession of the
			husky.
		</p>
		<p>All adoptions start with a 5 day trial period to ensure the husky is a good fit in your home and lifestyle.</p>
		<hr/>
		<p>
			If you have questions or concerns during the process please @Html.ActionLink("contact us", "Contact", "Home").
		</p>
	</div>
</div>