<div class="row">
	<div class="large-12 columns text-center">
		<h3>Fostering</h3>
	</div>
</div>
<div class="row">
	<div class="large-2 columns text-center">
		<div>
			<img src="~/Content/images/Huskies/FaceShot_07.jpg" height="250" />
		</div>
	</div>
	<div class="large-8 columns">
		<p>
			The foster application process has several stages to ensure our huskies are being placed in the most qualified and safe foster homes.
		</p>
		<p>
			All TXHR huskies will have their vet care scheduled and paid for by TXHR. Heartworm pills will be mailed or given at adoption events once a month. Fosters may
			also request food, crates, and other items to assist with fostering.
		</p>
	</div>
	<div class="large-2 columns text-center">
		<div>
			<img src="~/Content/images/Huskies/FaceShot_02.jpg" height="250" />
		</div>
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<div>
			<br />
			<ul>
				<li>Complete a <a href="/forms/fosterapplication.pdf">foster application [pdf]</a> and @Html.ActionLink("email it", "Contact", "Home"), faxed it to 1-877-894-8759, or mail it to PO Box 118891 Carrollton, TX 75007</li>
				<li>
					Once your application is received, we will conduct a thorough screening process which includes a vet check of your current pets and a phone screen/interview
					by one of our adoption coordinators.
				</li>
				<li>
					After your vet check and phone screen are completed successfully, TXHR will conduct a fence/home check. This is a check for gaps, broken slats, holes,
					compromised spots, etc where a husky could escape. Please do a walk of the perimeter of your fence and fix all problem spots before we come to your home.
				</li>
				<li>
					Upon successful completion of the application process, a TXHR representative will contact you to get more details on which foster husky would do best
					in your home environment.
				</li>
				<li>Before a foster husky can be placed in your home, a foster contract must be signed and a foster manual will be provided.</li>
			</ul>
			<br />
			<p>
				Download the <a href="/forms/foster-contract.pdf">Foster Contract</a>
			</p>
		</div>
	</div>
</div>
