@*@using HuskyRescue.Core.Service;
	@{
		var rescueCountHandler = new RescueCountHandler();
		var numberOfHuskies = rescueCountHandler.Count;
	}*@
<div class="row">
	<div class="large-12 columns text-center">
		<h3>About Texas Husky Rescue</h3>
	</div>
</div>

<div class="row" style="margin-bottom: 10px;">
	<div class="large-3 columns">
		<img src="~/Content/images/Huskies/AdoptionEvent_04.jpg" />
	</div>
	<div class="large-9 columns">
		<h4>Mission Statement</h4>
		<p class="text-justify">
			To rescue, rehabilitate, and find qualified loving homes for neglected, abused, and unwanted Huskies throughout Texas and beyond. To educate the public
			about responsible pet ownership and the special qualities of the Siberian Husky Breed.
		</p>
	</div>
</div>
<div class="row" style="margin-bottom: 10px;">
	<div class="large-3 columns">
		<img src="~/Content/images/Huskies/AdoptionEvent_01.jpg"/>
	</div>
	<div class="large-9 columns">
		<h4>Vision</h4>
		<ul>
			<li>Rescue approximately 175 huskies</li>
			<li>
				Be an advocate for huskies and responsible pet ownership by educating the public about the unique characteristics of the breed and the importance of spaying/neutering
				their pets
			</li>
			<li>Rescue and rehabilitate huskies with behavioral, medical, and physical ailments whenever logistically and financially feasible</li>
			<li>Increase Texas Husky Rescue, Inc's. exposure in the community by conducting and attending public events on a regular basis</li>
			<li>Increase our involvement with and availability to our network of Fosters and Volunteers</li>
			<li>Increase our network of Foster Homes and minimize the need to house Foster Dogs in boarding facilities</li>
		</ul>
	</div>
</div>
<div class="row" style="margin-bottom: 10px;">
	<div class="large-3 columns">
		<img src="~/Content/images/Huskies/FaceShot_13.jpg" />
	</div>
	<div class="large-9 columns">
		<h4>History</h4>
		<p class="text-justify">
			Texas Husky Rescue, Inc. was created in May 2009 as a non-profit 501(c)3 animal rescue organization that is run entirely by volunteers and does not have
			a paid staff or a shelter. Texas Husky Rescue, Inc relies solely on volunteer foster families to take huskies into their homes until permanent, qualified,
			and loving homes can be found. Texas Husky Rescue, Inc. is a responsible animal adoption agency and requires that all dogs over 6 months are spayed/neutered
			prior to adoption. We ensure that none of our dogs will ever contribute to the overpopulation of dogs in our community. The work of Texas Husky Rescue,
			Inc. is supported by tax-deductible contributions by individuals, corporations, and grants.
			<br />
			<br />
			Our initial goal when we began in 2009 was to save 30 huskies from area shelters. We have rescued over @*@numberOfHuskies*@ 900 and counting.
			<br />
			<br />
		</p>
	</div>
</div>
<div class="row">
	<div class="large-5 medium-6 small-12 small-centered columns">
		<div class="row">
			<div class="large-6 small-6 columns">
				<h5>Huskies Rescued</h5>
				<ul>
					<li>2009 (May-Dec): 31</li>
					<li>2010: 147</li>
					<li>2011: 170</li>
					<li>2012: 156</li>
					<li>2013: 254</li>
					<li>2014: 221</li>
				</ul>
			</div>
			<div class="large-6 small-6 columns">
				<h5>Huskies Adopted</h5>
				<ul>
					<li>2009 (May-Dec): 30</li>
					<li>2010: 142</li>
					<li>2011: 181</li>
					<li>2012: 160</li>
					<li>2013: 221</li>
					<li>2014: 212</li>
				</ul>
			</div>
		</div>
	</div>
</div>
