
<div class="row">
	<div class="large-12 columns text-center">
		<h3>The Board of Directors</h3>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		<h5>Leisha A. - President</h5>
		<p class="text-justify">Founding member and president of TXHR.  Leisha first got involved in animal rescue around 2008 as a volunteer at Adopt-A-Husky of Dallas, where she first volunteered by transporting, medical and helping with intake while Cate had her first baby.  Leisha has fostered over 55 huskies for TXHR and around 40 for Adopt-A-Husky of Dallas.  Leisha is married and has owned five huskies - two were adopted from TXHR.  Leisha works in sales for a company in Texas, and is currently overseeing the medical team as well.</p>
		<hr />

		<h5>Cate C. - Treasurer and Events</h5>
		<p class="text-justify">Founding member and treasurer of TXHR.  Cate got into husky rescue in 2006 by fostering for Adopt-A-Husky of Dallas, AHDI, and eventually handling their intake of huskies.  Cate has fostered over 75 dogs between TXHR and AHDI.  Cate is married with three fabulous kids: six year old Stella, two year old Lyla, and five month old Jackson.  Cate’s husband, Dugan is a drummer in the band Oil Boom.  Cate also oversees fundraising events for the group, and  has recently started a business making cupcakes!</p>
		<hr />

		<h5>Cecily M. - Applications</h5>
		<p class="text-justify">Founding member and adoption coordinator for TXHR.  Cec got her first husky while in college.  He was the love of her life, and the reason she fell in love with the husky breed.  Cec started in animal rescue around 2007 by volunteering for AHDI, and eventually worked adoption applications just as she does for TXHR today.  Cec currently has two huskies, a border collie, and a maltese.  She has fostered dogs in the past, but currently her house is full with two kids, a husband, and her four dogs.  Cec has generally fostered injured Huskies over the years such as Romo.  She stays busy working from home, with her family, her childrens’ sports, and with TXHR.</p>
		<hr />

		<h5>Mary B.</h5>
		<p class="text-justify">Mary has been apart of TXHR since 2009 as a foster and joined the board of directors in 2010.  Mary found her first husky, Laker, right as she and James were closing on their first house in 2008.  Laker came from AHDI, and Leisha was the volunteer who worked their adoption application.  Mary started working on adoption packets, cataloging all of the group’s paperwork, has created graphics for the website, t-shirts, business cards, etc, and has headed up the medical team for over a year.  Mary and James have fostered over 70 huskies for TXHR - mostly puppies! Currently Mary and James have three huskies from TXHR, as well as two cats.  They have a two year old daughter, Lorelai, and are expecting their second baby in September.  Before raising kids and devoting more time to TXHR, Mary worked at an architecture firm as a licensed Interior Designer.</p>
		<hr />

		<h5>James B. - Secretary and Partner Outreach</h5>
		<p class="text-justify">James has been apart of TXHR as long as Mary and also joined the board of directors in 2010.  James is the current Secretary for TXHR.  James volunteered to help with the group’s website when the previous volunteer left the group in 2010, and has since taken over all of the technology responsibilities.  James also heads up the Partner Outreach efforts of the group to locate and secure new vets, boarding facilities, photographers, trainers, and anyone else who will help the group.  James works from home in the banking industry as a programmer.</p>
		<hr />

		<h5>Rachel B. - Fosters & Volunteers</h5>
		<p class="text-justify">Rachel has been with TXHR since 2012 and joined the board of directors in 2013.  She has been involved with animal rescue since 2009 in the San Antonio and Austin areas.  Rachel currently has four dogs, and has fostered more dogs than she can remember, with 24 in 2013 alone.  She owns a red hummer, nicknamed “The Husky Hauler” that has over 100,000 miles on it, mostly from animal rescue work.  She oversees TXHR’s volunteers, fosters, and social media, and works hard to match huskies with the right foster homes to keep the number of dogs in boarding low.  Outside of TXHR, Rachel is VP of Alamo Barter, on the board of San Antonio Pets Alive, a committee member for the IACUC, has a 21 year old son, and is married.</p>
		<hr />

		<h5>Jacqueline B. - Intake</h5>
		<p class="text-justify">Jacqueline has been with TXHR as a volunteer since she graduated college and moved home to Dallas in June 2012.  She was at a dog park with her husky, Dakota, while visiting from college, and ran into a TXHR foster, which sparked her interest, and led her to get involved in the rescue once she had moved back to Texas.  Jacqueline has slowly taken on more and more responsibilities because she loves husky rescue so much.  While she hasn’t fostered any huskies, she has helped TXHR take in 398 huskies since November 2012, with 99 of those since she took over the intake team in March 2014.  Jacqueline joined the board of directors in June 2014.  She will graduate from chiropractic school in December 2015, and is getting married this November.</p>
	</div>
</div>