
<div class="row">
	<div class="large-12 columns text-center">
		<h3>Veterinarian Partners</h3>
	</div>
</div>
<div class="row">
	<div class="large-3 columns text-center" style="height: 140px">
		<div class="panel callout radius text-center sponsor">
			<a href="http://crossroadspethospital.vetstreet.com/" target="_blank">Crossroads Pet Hospital</a>
		</div>
	</div>
	<div class="large-3 columns text-center" style="height: 140px">
		<div class="panel callout radius text-center sponsor">
			<a href="http://www.animalhospitalteasley.com/" target="_blank">Animal Hospital on Teasley Lane</a>
		</div>
	</div>
	<div class="large-3 columns text-center" style="height: 140px">
		<div class="panel callout radius text-center sponsor">
			<a href="http://www.callaghanroadanimalhospital.com/" target="_blank">Callaghan Road Animal Hospital</a>
		</div>
	</div>
	<div class="large-3 columns text-center" style="height: 140px">
		<div class="panel callout radius text-center sponsor">
			<a href="http://creeksideanimalhospital.net/" target="_blank">Creekside Animal Hospital</a>
		</div>
	</div>
</div>
<div class="row">
	<div class="large-3 columns text-center" style="height: 140px">
		<div class="panel callout radius text-center sponsor">
			<a href="http://www.heartoftexasvets.com/" target="_blank">Heart of Texas Veterinary Specialty Center</a>
		</div>
	</div>
	<div class="large-3 columns text-center" style="height: 140px">
		<div class="panel callout radius text-center sponsor">
			<a href="http://www.allcarevet.com/" target="_blank">All Care Veterinary Hospital</a>
		</div>
	</div>
	<div class="large-3 columns text-center" style="height: 140px">
		<div class="panel callout radius text-center sponsor">
			<a href="http://www.aggielandanimalhealthcenter.com/" target="_blank">Aggieland Animal Health Center</a>
		</div>
	</div>
	<div class="large-3 columns text-center" style="height: 140px">
		<div class="panel callout radius text-center sponsor">
			<a href="http://maziesmission.org/" target="_blank">Mazie's Mission</a>
		</div>
	</div>
</div>

<div class="row">
	<div class="large-12 columns text-center">
		<h3>Boarding Partners</h3>
	</div>
</div>
<div class="row">
	<div class="large-3 columns text-center" style="height: 140px">
		<div class="panel callout radius text-center sponsor">
			<a href="http://doggieswonderland.com/" target="_blank">Doggie's Wonderland</a>
		</div>
	</div>
	<div class="large-3 columns text-center" style="height: 140px">
		<div class="panel callout radius text-center sponsor">
			<a href="http://www.wagtimedc.com/" target="_blank">Wag Time</a>
		</div>
	</div>
	<div class="large-3 columns text-center" style="height: 140px">
		<div class="panel callout radius text-center sponsor">
			<a href="https://www.facebook.com/WagTimeRescueDogs" target="_blank">Wag Time II: The Rescues</a>
		</div>
	</div>
	<div class="large-3 columns text-center" style="height: 140px">
		<div class="panel callout radius text-center sponsor">
			<a href="http://www.socialpackdogs.com/" target="_blank">Social Pack</a>
		</div>
	</div>
</div>

<div class="row">
	<div class="large-12 columns text-center">
		<h3>Dog Training & Behavior Partners</h3>
	</div>
</div>
<div class="row">
	<div class="large-6 columns text-center" style="height: 140px">
		<div class="panel callout radius text-center sponsor">
			<a href="https://sites.google.com/site/k9content/home" target="_blank">Canine Content - Nelson Hodges</a>
		</div>
	</div>
	<div class="large-6 columns text-center" style="height: 140px">
		<div class="panel callout radius text-center sponsor">
			<a href="https://www.facebook.com/Leashes2Freedom" target="_blank">Leashes 2 Freedom - Nik Hamilton</a>
		</div>
	</div>
</div>

@*<div class="row">
		<div class="large-12 columns text-center">
			<h3>Event Sponsors</h3>
		</div>
	</div>
	<div class="row">
		<div class="large-4 columns">
			<div class="panel callout radius text-center sponsor">
				Red Velvet Inn
			</div>
		</div>
		<div class="large-4 columns">
			<div class="panel callout radius text-center sponsor">
				Dirty Dawgz
			</div>
		</div>
		<div class="large-4 columns">
			<div class="panel callout radius text-center sponsor">
				Fuzzy's Taco Shop
			</div>
		</div>
	</div>
	<div class="row">
		<div class="large-4 columns">
			<div class="panel callout radius text-center sponsor">
				DMC - Dallas Manufacturing Co.
			</div>
		</div>
		<div class="large-4 columns">
			<div class="panel callout radius text-center sponsor">
				Brinkmann
			</div>
		</div>
		<div class="large-4 columns">
			<div class="panel callout radius text-center sponsor">
				Freedom Powersports
			</div>
		</div>
	</div>*@

