<div class="row">
	<div class="large-12 columns text-center">
		<h3>Website Policies</h3>
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<div style="margin-top: 20px">
			<h6>Online Store Policies - shipping timeframe and refunds</h6>
			<ul>
				<li>Our products are all shipped via United State Postal Service via First Class under 13oz and Priority over 13oz</li>
				<li>Orders are shipped Monday to Friday</li>
				<li>Orders are shipped within 7 days of an order being placed</li>
				<li>Orders are not charged until after having been shipped</li>
				<li>Refunds will be issued if our inventory is incorrect and no longer available for any whole or partial orders</li>
				<li>Refunds may be issued if an incorrect product is shipped once we recieve the incorrect order back - you are responsible for the cost of shipping the product back</li>
			</ul>
		</div>
		<div>
			<h6>Privacy Policy</h6>
			<p>
				This applies to all aspects of our website.
			</p>
			<p>
				Generally you can browse through our website without giving us any information about yourself.
				We do not collect personally identifying information about any individual site users, except when knowingly provided by such individual.
			</p>
			<p>
				For example, we collect information to process orders on the site and for adoption/foster applications.
				This information is used for delivery of merchandise or services which may involve affiliated 3rd party organizations, shipping and fulfillment companies, banks, and financial institutions.
				This information is not used by these organizations for marketing or other purposes not related to the delivery of services or merchandise.
				Information that we collect is not sold or shared with any other organization.
			</p>
			<p>
				We do log your IP address (the Internet address of your computer) to give us an idea of which part of our website you visit and how long you spend there, but we do not link your IP address to any personal information.
				Like many commercial websites, we use a standard technology called a "cookie" to collect information about how you use our website, and to track any products that you add to your shopping cart.
			</p>
			<p>
				When you email us, or use your email in an order or contact form, we will not share it with other companies.
				We only use them to respond to your enquiry, give you updates on your order, or other relevant correspondence.
				We don't spam and we will never share your email address or information with any third party agency.
			</p>
			<p>
				Information we collect is stored securely to prevent data loss by electronic hacking. We do not store any credit card numbers or financially sensitive information.
			</p>
		</div>
		<div>
			<h6>Mistakes Disclaimer</h6>
			<p>
				Our website is updated regularly and we are humans and volunteers, not some mega corporation running this thing.
				We try hard to ensure all information on our website is 100% accurate and up-to-date, but sometimes mistakes do happen.
				In the event of an error with regards to our online store, we reserve the right to cancel, void, refund, and/or credit a purchaser as necessary. We will always inform the purchaser of any such situation before any action is taken.
				In the event of an error with regards to our adoptable huskies, adoption processes, fostering processes, volunteers, and donations we will take necessary actions to correct the issue and contact anyone involved.
			</p>
		</div>
	</div>
</div>
