
<div class="row">
	<div class="large-12 columns text-center">
		<h3>Corporate Sponsors</h3>
	</div>
</div>
<div class="row">
	<div class="large-6 columns">
		<div class="panel callout radius text-center sponsor">
			<a href="http://www.proplan.com/rally-to-rescue" target="_blank">Pro Plan Rally to Rescue</a>
			<div class="text-center">
				<img src="/Content/Images/Sponsors/rallytorescue.jpg" style="width:400px; height:135px" />
			</div>
		</div>
	</div>
	<div class="large-6 columns">
		<div class="panel callout radius text-center sponsor">
			<a href="http://www.petco.com/petco_Page_PC_petcofoundationhome.aspx" target="_blank">Petco Foundation</a>
			<div class="text-center">
				<img src="/Content/Images/Sponsors/petco.png" style="width:400px; height:135px" />
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="large-4 columns">
		<div class="panel callout radius text-center sponsor" style="height: 160px">
			<a href="https://www.paypalgivingfund.org/index.html" target="_blank">PayPal Giving Fund</a>
			<div class="text-center">
				<img src="/Content/Images/Sponsors/paypalgivingfund.gif"/>
			</div>
		</div>
	</div>
	<div class="large-4 columns">
		<div class="panel callout radius text-center sponsor" style="height: 160px">
			<a href="https://smile.amazon.com" target="_blank">Amazon Smile</a>
			<div class="text-center">
				<img src="/Content/Images/Sponsors/amazonsmile.png" style="height:100px" />
			</div>
		</div>
	</div>
	<div class="large-4 columns">
		<div class="panel callout radius text-center sponsor" style="height: 160px">
			<a href="http://www.google.com/nonprofits/" target="_blank">Google for nonprofits</a>
			<div class="text-center">
				<img src="/Content/Images/Sponsors/Google-Nonprofits2.png" style="width:335px;" />
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="large-4 columns">
		<div class="panel callout radius text-center sponsor" style="height: 160px">
			<a href="https://www.petfinder.com" target="_blank">Petfinder</a>
			<div class="text-center">
				<img src="/Content/Images/Sponsors/pet_finder_logo.png" />
			</div>
		</div>
	</div>
	<div class="large-4 columns">
		<div class="panel callout radius text-center sponsor" style="height: 160px">
			<a href="https://www.rescuegroups.org/" target="_blank">RescueGroups</a>
			<div class="text-center">
				<img src="/Content/Images/Sponsors/rescuegroups.jpg" />
			</div>
		</div>
	</div>
	<div class="large-4 columns">
		<div class="panel callout radius text-center sponsor" style="height: 160px">
			<a href="http://www.techsoup.org/" target="_blank">TechSoup</a>
			<div class="text-center">
				<img src="/Content/Images/Sponsors/techsoup.png" />
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="large-3 columns">
		<div class="panel callout radius text-center sponsor" style="height: 140px">
			<a href="https://www.paypal.com/us/webapps/mpp/donations" target="_blank">PayPal for Nonprofits</a>
			<div class="text-center">
				<img src="/Content/Images/Sponsors/paypal-logo.png" style="height: 80px;" />
			</div>
		</div>
	</div>
	<div class="large-3 columns">
		<div class="panel callout radius text-center sponsor" style="height: 140px">
			<a href="https://www.braintreepayments.com" target="_blank">BrainTree</a>
			<div class="text-center">
				<img src="/Content/Images/Sponsors/braintree.svg" />
			</div>
		</div>
	</div>
	<div class="large-3 columns">
		<div class="panel callout radius text-center sponsor" style="height: 140px">
			<a href="https://squareup.com/" target="_blank">Square Up</a>
			<div class="text-center">
				<img src="/Content/Images/Sponsors/squareup.png" style="height: 50px;" />
			</div>
		</div>
	</div>
	<div class="large-3 columns">
		<div class="panel callout radius text-center sponsor" style="height: 140px">
			<a href="https://www.jetbrains.com/resharper/" target="_blank">JetBrains: ReSharper</a>
			<div class="text-center">
				<img src="/Content/Images/Sponsors/jetbrains.svg" style="height: 70px;" />
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="large-3 columns">
		<div class="panel callout radius text-center sponsor" style="height: 140px">
			<a href="https://www.zap5.net/" target="_blank">Zap5 Hosting</a>
			<div class="text-center">
				<img src="/Content/Images/Sponsors/zap5.png" style="height: 80px;" />
			</div>
		</div>
	</div>
	<div class="large-3 columns">
		<div class="panel callout radius text-center sponsor" style="height: 140px">
			<a href="https://postmarkapp.com/" target="_blank">Postmark</a>
			<div class="text-center">
				<img src="/Content/Images/Sponsors/postmarkapp.png" />
			</div>
		</div>
	</div>
	<div class="large-3 columns">
		<div class="panel callout radius text-center sponsor" style="height: 140px">
			<a href="https://www.twilio.com/" target="_blank">Twilio</a>
			<div class="text-center">
				<img src="/Content/Images/Sponsors/twilio.svg" />
			</div>
		</div>
	</div>
	<div class="large-3 columns">
		<div class="panel callout radius text-center sponsor" style="height: 140px">
			<a href="https://madmimi.com/" target="_blank">MadMimi</a>
			<div class="text-center">
				<img src="/Content/Images/Sponsors/madmimi.png" />
			</div>
		</div>
	</div>
</div>



