<div class="row">
	<div class="small-3 small-centered columns">
		<h3>Thank you for contacting Texas Husky Rescue</h3>
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<p>
			We will be in contact with you in the next 48 hours.
		</p>
	</div>
</div>
