<div class="row">
	<div class="large-12 columns text-center">
		<h3>Get Involved Volunteering</h3>
	</div>
</div>
<div class="row" style="margin-bottom: 10px;">
	<div class="large-12 columns">
		<p class="text-justify">
			What an exciting year it has been for Texas Husky Rescue! With your support and help, we saved over 950 huskies since May 2009. The group continues to
			grow and flourish and we couldn’t be more proud and appreciative of all our volunteers and fosters. Without our dedicated volunteers, we would not have
			been able to save so many lives. As we continue to grow in size, so does our need for additional volunteers in a variety of different areas. (If there
			is something you are interested in doing, and you don't see it listed, please @Html.ActionLink("send us an email", "Contact") with your suggestions.)
		</p>
	</div>
</div>
<div class="row" style="margin-bottom: 10px;">
	<div class="large-2 columns text-center">
		<img src="~/Content/images/Huskies/Shirts_01.jpg" />
	</div>
	<div class="large-10 columns">
		<p class="text-justify">
			<strong>Application/Adoption Counselors</strong> – A significant number of people apply for our rescue dogs, and our adoption counselors are the first line
			of communication that they have with TXHR.
		</p>
		<ul>
			<li>Enter applications into the database</li>
			<li>Conduct vet checks via telephone</li>
			<li>Talk with applicants via telephone and email</li>
			<li>Coordinate with fosters and applicants to arrange for a meet and greet</li>
		</ul>
	</div>
</div>
<div class="row" style="margin-bottom: 10px;">
	<div class="large-2 large-push-10 medium-2 medium-push-10 columns text-center">
		<img src="~/Content/images/Huskies/Transport_01.jpg" />
	</div>
	<div class="large-10 large-pull-2 medium-10 medium-pull-2 columns">
		<p class="text-justify">
			<strong>Transportation</strong> – You must have a valid driver’s license and automobile insurance to volunteer for transportation opportunities.
		</p>
		<ul>
			<li>Transportation from a shelter to boarding or a foster</li>
			<li>Transportation to/from a vet appointment</li>
			<li>Transportation to/from an Adoption Event or Meet and Greet event</li>
			<li><strong>NOTE: </strong>Most transportation activity occur during working hours during the workweek due to shelter and veterinarian office hours.</li>
		</ul>
	</div>
</div>
<div class="row" style="margin-bottom: 10px;">
	<div class="large-2 columns text-center">
		<img src="~/Content/images/Huskies/AdoptionEvent_03.jpg" width="200" />
	</div>
	<div class="large-10 columns">
		<p class="text-justify">
			<strong>Event Volunteers</strong> – We have several events that require additional volunteers to answer potential adopter questions, help handle the huskies
			in attendance, help with set up and/or tear down and assist with any other activities that may arise.
		</p>
		<ul>
			<li>Monthly Meet & Greet Events – normally at the PETCO in Grapevine and occasionally at other locations</li>
			<li>TXHR annual golf tournament</li>
			<li>Miscellaneous events that we are invited to – 5K events, conferences, dog parks, etc</li>
		</ul>
	</div>
</div>
<div class="row" style="margin-bottom: 10px;">
	<div class="large-2 large-push-10 medium-2 medium-push-10 columns text-center">
		<img src="~/Content/images/Huskies/Volunteer_01.jpg" width="200" />
	</div>
	<div class="large-10 large-pull-2 medium-10 medium-pull-2 columns">
		<p class="text-justify">
			<strong>Fundraising</strong> – The lifeblood of a rescue organization is the ability to fund veterinary bills. There is always a need for innovative thinkers
			who can raise funds through creative ideas. As well, there are MANY different funds at our disposal with the proper paperwork being filed and followed
			up on.
		</p>
		<ul>
			<li>
				Grant Writing – do you have experience with grants or have the interest to learn? There are hundreds of grants available to rescue organizations that
				just need a proper application/grant submitted.
			</li>
			<li>Fundraising – we can use your help with the ideas and the execution! </li>
		</ul>
	</div>
</div>
<div class="row" style="margin-bottom: 10px;">
	<div class="large-2 columns text-center">
		<img src="~/Content/images/Huskies/FaceShot_03.jpg" width="200" />
	</div>
	<div class="large-10 columns">
		<p class="text-justify"><strong>Adoption/Foster Mentor</strong> – The mentors become TXHR’s first line of communication for the assigned adoptive and/or foster parents.</p>
		<ul>
			<li>Mentors provide advice to the adopter/foster and feedback to the TXHR Board of any issues that may be occurring</li>
			<li>Mentors are there to make the transition easier for the humans, ensuring the dogs are in good hands and in good shape</li>
			<li>Mentors reach out to new adopters/fosters within the first few days of receiving their new husky to check-in</li>
		</ul>
	</div>
</div>
<div class="row" style="margin-bottom: 10px;">
	<div class="large-2 large-push-10 medium-2 medium-push-10 columns text-center">
		<img src="~/Content/images/Huskies/FaceShot_27.jpg" width="200" />
	</div>
	<div class="large-10 large-pull-2 medium-10 medium-pull-2 columns">
		<p class="text-justify"><strong>Vet Care Coordinators</strong> – These volunteers keep our veterinary database accurate.</p>
		<ul>
			<li>Keep track of appointments for foster dogs</li>
			<li>Ensure all veterinary paperwork and information is uploaded into our database </li>
			<li>Mail Heartworm Preventative to foster parents monthly</li>
			<li>Research lower cost medical options</li>
			<li>Ensure all incoming huskies receive all necessary veterinary care</li>
		</ul>
	</div>
</div>
<div class="row" style="margin-bottom: 10px;">
	<div class="large-2 columns text-center">
		<img src="~/Content/images/Huskies/FaceShot_20.jpg" width="200" />
	</div>
	<div class="large-10 columns">
		<p class="text-justify"><strong>Newsletter Coordinator</strong> – It is TXHR’s goal to stay in touch more often with our supporters.</p>
		<ul>
			<li>Create an interesting layout for presenting our monthly updates and husky stories</li>
			<li>Gather information from the TXHR Board and volunteers and compose articles for each monthly email newsletter</li>
		</ul>
	</div>
</div>
<div class="row" style="margin-bottom: 10px;">
	<div class="large-2 large-push-10 medium-2 medium-push-10 columns text-center">
		<img src="~/Content/images/Huskies/Pose_09.jpg" width="200" />
	</div>
	<div class="large-10 large-pull-2 medium-10 medium-pull-2 columns">
		<p class="text-justify"><strong>General Administrative Duties</strong></p>
		<ul>
			<li>Thank You postcard mailed to adopters and donors within 2 weeks of adoption/donation </li>
			<li>Data Entry – enter and keep online database accurate</li>
			<li>Assist with Christmas mailing</li>
		</ul>
	</div>
</div>
<div class="row" style="margin-bottom: 10px;">
	<div class="large-12 columns">
		<p class="text-justify">
			Again, if you or anyone you know might be interested in helping with any of the above volunteer opportunities, please @Html.ActionLink("send us an email", "Contact").
		</p>
		<p class="text-justify">
			As always, we sincerely appreciate you, the time you give to us and the support you have given back to us! Without you, we would not be saving as many
			lives as we are today.
		</p>
	</div>
</div>
